.divGeneral {
  text-align: center;
  color: antiquewhite;
  background-color: #515052;
}

.iconCart button {
  font-size: 20px;
  color: white;
  background-color: none;
  margin-left: 40px;
}

.imagen {
  margin-left: 25px;
  max-width: 20em;
}